.block2 {
	position:relative;
	background:#131313;
	padding:15.5% 20.00000%;
	padding-bottom:27.2%;
}

.block2 .description_title {
	color:#8a8a8a;
	letter-spacing:0.02500em;
	margin-bottom:17.628%;
}

.block2 .description {
	display:flex;
	margin-bottom:56.59375%;
	font-size:0.82031rem;
}

.block2 .description > div {
	width:50%;
}

.block2 .description .meta {
	letter-spacing:0.02500em;
	line-height:2.00000;
}

.block2 .description .meta .project_type {
	margin-bottom:5.834%;
}

.block2 .description .meta a {
	color:inherit;
	text-decoration: underline;
}

.block2 .description .text {
	font-size:1.32812rem;
	line-height:1.85294;
	letter-spacing:0.01000em;
	top:-0.8rem;
	position:relative;
}

.block2 .project_images {
	position:relative;
	margin-bottom:38.16250%;
}

.block2 .project_images .img_left {
	width:66.66667%;

}

.block2 .project_images .img_right {
	width:43.03385%;
	position:absolute;
	right:0;
	top:50%;
	transform:translateY(-50%);
}

.block2 .about {
	display:flex;
	justify-content: flex-end;
	flex-wrap:wrap;
		
	font-size:0.82031rem;
	letter-spacing:0.02500em;
	line-height:2;

}

.block2 .about .about_title {
	color:#8a8a8a;
	
	flex:0 0 100%;
	margin-bottom:14.67604%;
}

.block2 .about .about_text {
	width:50.00000%;
}

.block2 .about .about_text b {
	font-family:'Graphik LCG Medium';
}

.showcase {
	width:100%;
	position:relative;
	background:#1b1b1b;
	padding:15.35156% 0%;
}

.showcase img {
	width:60.00000%;
	margin:0 auto;
	margin-bottom:7.73438%;
	display:block;
}

.showcase img.full_width {
	width:100%;
}

.showcase img:last-of-type {
	margin-bottom:0;
}

.nav {
	display:flex;
	width:100%;
}

.nav > a {
	height:31.17188vw;
	display:flex;
	align-items:center;
	justify-content: center;

	position:relative;
	text-decoration: none;
	color:inherit;
	width:50%;
	transition:all 0.5s ease;
	overflow:hidden;

}

.nav a .bg {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;	
	transition:all 0.5s ease-in-out;
	opacity:0.6;
}

.nav > a:hover .bg{
	transform:scale(1.05);
}

.nav .title {
	font-size:1.32812rem;
	font-family:'Graphik LCG Medium';
	position:relative;
}