h1 {
	font-size:2.53906rem;
	line-height:2.53906rem;
	margin:0;
}

p {
	font-size:1.32812rem;
	line-height:1.32812rem;
	color:#c0c0c0;
	letter-spacing:0;
	position:absolute;
	left:50%;
	top:1.01562vw;
	margin:0;
}

form {
	color:#f2f2f0;
	font-size:0.82031rem;
	letter-spacing:0.02500em;
	position:absolute;
	bottom:0;
	top:28.54863%;

}

form label {
	display:block;
	min-width:5.19531vw;
}

form button {
	background:#2a2a2a;
	border:none;
	font-size:0.70312rem;
	color:#f2f2f0;
	letter-spacing:0.02500em;
	font-family:'Graphik LCG Medium';
	padding: 1.1rem 3.2rem;
	position:absolute;
	bottom:0;
}

form button:hover {
	cursor:pointer;
}

input, textarea {
	background:transparent;
	border:none;
	
	
	color:#ffffff;
	width:15vw;
	/*height:2vw;*/

	outline:none;
}

textarea {
	height:5.8vw;
	resize: none;
}

.form_row {
	display:flex;
	justify-content: flex-start;
	align-items:flex-end;
	margin-bottom:13%;
}

.form_row:last-of-type {
	align-items:flex-start;
}

.input_wrapper,.textarea_wrapper {
	border-bottom:1px solid rgba(42,42,42,0.5);
	transition: all ease-in-out 0.2s;
}

.input_wrapper:hover, .textarea_wrapper:hover {
	border-color:rgba(42,42,42,1);
}

.textarea_wrapper {
	/*border-right:1px solid rgba(42,42,42,0.5);*/
}