.center {
	overflow:hidden;
}

.slider {
	width:500%;
	height:100%;
	display:flex;
	transform:translateX(0%);
	transition:1s ease-in-out all;
}

.slider > div {
	width:25%;
	height:100%;
	position:relative;
}

.step {
	margin:0;
	font-size:0.82031rem;
	color:#c0c0c0;
	letter-spacing:0.02500em;
	margin-bottom:2.34375vw;
	margin-bottom:3%;
}

h1 {
	margin:0;
	font-size:2.53906rem;
	letter-spacing:0;
}

.fields {
	position:absolute;
	top:42.02000%;
	bottom:0;
	width:100%;
}


.fields .fields_row {
	font-size:0.82031rem;
	letter-spacing:0.02500em;
	margin-bottom:9%;
	margin-bottom:2.5%;
	display:flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.fields .fields_row label {
	min-width:5.93750vw;
}

input {
	background:transparent;
	border:none;
	color:#ffffff;
	outline:none;
}

input, textarea {
	width:15vw;
}

.input_wrapper,.textarea_wrapper {
	border-bottom:1px solid rgba(100,100,100,0.5);
	transition: all ease-in-out 0.2s;
}

.input_wrapper:hover, .textarea_wrapper:hover {
	border-color:rgba(100,100,100,1);
}



button {
	font-size:0.70312rem;
	letter-spacing:0.02500em;
	color:#fafafa;
	background:#2a2a2a;
	border:none;
	position:absolute;
	bottom:0;
	font-family:'Graphik LCG Medium';
	    padding: 1.2rem 3.6rem;
}

button:hover {
	cursor:pointer;
}

/*SLIDE 2*/

.checkboxes_title {
	font-size:1.38211rem;
	color:#c0c0c0;
	letter-spacing:0;
	margin-top:-0.5rem;
	margin-bottom:2.3rem;
}

input[type="checkbox"],input[type="radio"]  {
	display:none;
}

.checkboxes_inputs {
	position:relative;
}

input[type="checkbox"] + label,input[type="radio"] + label {
	color:#6a6a6a;
	letter-spacing:0.04em;
	position:relative;
	font-size:0.82031rem;
	cursor:pointer;
	min-width:21.73542%;
	display:inline-block;
} 

input[type="checkbox"] + label:before,input[type="radio"] + label:before {
	position:relative;
	display:inline-block;
	content:'';
	width:0.58594rem;
	height:0.58594rem;
	background:#6a6a6a;
	border-radius:50%;
	margin-right:0.2rem;
}

input[type="checkbox"]:checked + label span,input[type="radio"]:checked + label span{
	color:#c1c1c1;
	text-decoration:underline;
}

input[type="checkbox"]:checked + label:before,input[type="radio"]:checked + label:before  {
	background:#f2f2f0;
}


.step4 .fields {
	width:66.66667%;
}

.slider_container {
	padding-left:0.27344rem;
	box-sizing:border-box;
}

.range {
	display:flex;
	justify-content: space-between;
	color:#c0c0c0;
	letter-spacing:0.02500em;
	font-size:0.82031rem;
	margin-bottom:1.4vw;
}

.noUi-target {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfbfbf+0,2a2a2a+100 */
	background: #bfbfbf; /* Old browsers */
	background: -moz-linear-gradient(left, #bfbfbf 0%, #2a2a2a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #bfbfbf 0%,#2a2a2a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #bfbfbf 0%,#2a2a2a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#2a2a2a',GradientType=1 ); /* IE6-9 */
	height:2px;
	box-shadow: none;
	border:none;
}

.noUi-target * {
	outline:none;
}

/*.noUi-target:before {
	position:absolute;
	width:100%;
	background:transparent;
	height:100px;
	left:0;
	top:50%;
	transform:translateY(-50%);
	content:'';
	display:block;
}*/

.noUi-horizontal .noUi-handle {
	width:15px;
	height:15px;
	background:#fafafa;
	border-radius:50%;
	top:50%;
	transform:translateY(-50%);

}

.noUi-handle:before, .noUi-handle:after {
	display:none;
}

.noUi-horizontal .noUi-tooltip {
	background: none;
    font-size: 0.82031rem;
    color: #fafafa;
    letter-spacing: 0.02500rem;
    transform: none;
    top: 100%;
    left: 50%;
    padding: 0;
    transform: translate(-50%, 50%);
    bottom:initial;
    right:initial;
    border:none;
}

.attach_file_button {
	font-size:1.32812rem;
	text-decoration: underline;
	color:#f2f2f0;
	letter-spacing:0.02500em;
	cursor:pointer;
}

.file_types {
	color:#c0c0c0;
	font-size:0.82031rem;
	margin-top:1.95312rem;
}

.checkbox_row {
	display:inline;
}

@media all and (max-width:768px) {
	.grid:not(.background_grid) .row > div.center {
		height:auto;
		top:27.8%;
		transform:none;
	}

	.step {
		font-size:2.84444rem;
		letter-spacing:0.02500em;
		margin-bottom:3vw;
	}

	h1 {
		font-size:5.77778rem;
		width:80%;
		margin-bottom:10.9vw;
	}

	.fields,
	button {
		position:relative;
		top:initial;
		bottom:initial;
		left:initial;
		right:initial;
	}

	.slider > div {
		padding:0% 9.78906vw;
	}

	.fields .fields_row {
		font-size:2.84444rem;
		margin-bottom:8.5vw;
	}

	.fields .fields_row label {
		min-width:17.31915vw;
	}

	.input_wrapper, .textarea_wrapper {
		left:-17.3vw;
		position:relative;
		padding-left:17.3vw;
	}

	.fields .fields_row label,
	input, textarea {
		margin-bottom:2.7vw;
		margin-bottom:2.7vw;
	}

	input, textarea {
		width:62vw;
	}

	button {
		margin-top:2vw;
		font-size:2.70667rem;
		padding: 4.6rem 13.6rem;
	}

	.checkboxes_title {
		font-size:3.73333rem;
		margin-bottom:8.8vw;

	}

	input[type="checkbox"] + label, input[type="radio"] + label {
		font-size:2.84444rem;
	}

	input[type="checkbox"] + label:before, input[type="radio"] + label:before {
		width:1.33333rem;
		height:1.33333rem;
	}

	.checkbox_row {
		display:block;
		margin-bottom:5.5vw;
	}

	.checkboxes_inputs {
		margin-bottom:8vw;
	}

	.step4 .fields {
		width:initial;
	}

	.range {
		font-size:2.84444rem;
		margin-top: 23.4vw;
		    margin-bottom: 8.4vw;
	}

	.noUi-horizontal .noUi-tooltip {
		font-size:2.84444rem;
	}

	.noUi-horizontal .noUi-handle {
		width:1.68889rem;
		height:1.68889rem;
	}

	.slider_container {
		margin-bottom:21vw;
	}

	.attach_file_button {
		font-size:3.73333rem;
		margin-top:15vw;
	}

	.file_types {
		font-size:2.84444rem;
		margin-bottom:11vw;
	}


}