h1 {
	font-size:2.73469rem;
	letter-spacing:0;
	line-height:1.68657;
	margin:0;
	position:absolute;
	width:80%;
	top:50%;
	transform:translateY(-50%);
}

@media all and (max-width:768px) {
	h1 {
		font-size:5.95556vw;
		position:relative;
		transform:none;
		top:0;
		left:0;
		margin:0 auto;
		width:72%;
	}

	.grid:not(.background_grid) .row > div.center {
		height:auto;
	}
}