.workslist {
	position: relative;
	width:100%;
	height:100%;
	overflow:hidden;

}

.workslist .background {
		background-size:cover;
	background-repeat: no-repeat;
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	transition: 1s all ease;
}

.workslist .background.visible {
	opacity:1;
}

.workslist .workslist_content {
	font-size:1.32812rem;
	letter-spacing:0.01500em;
	position:absolute;
	left:50.00000%;
	top:50%;
	transform:translateY(-50%);
}

.workslist a {
	color:inherit;
	text-decoration:none;
	display:block;
}

.workslist .workslist_content > *{
	position:relative;
	margin-bottom:2vw;
}

.workslist .workslist_content > *:last-child{
	margin-bottom:0;
}

.workslist .workslist_content .menu_item .menu_number {
	left:-4.25781vw;
	position:absolute;
	color:#c0c0c0;
	letter-spacing:0.02500em;
	font-size:0.82031rem;
	top:0.5vw;
	opacity:0;
	transition:0.3s all ease;
}

.workslist .workslist_content a .menu_text {
	display:inline-block;
	position:relative;
}


.workslist .workslist_content a .menu_text:after {
	content:'';
	display:block;
	background:#ffffff;
	left:0;
	bottom:-0.2vw;
	position:absolute;
	width:0;
	height:1px;
	transition:0.5s all ease;
}

.workslist .workslist_content a:hover .menu_text:after {
	width:100%;
} 

.workslist .workslist_content a:hover .menu_number {
	opacity:1;
}

@media all and (max-width:768px) {
	.grid:not(.background_grid) .row > div.center {
		height:auto;
		left:35.5%;
		width:50%;
	}

	.workslist .background {
		display:none;
	}

	.workslist .workslist_content {
		position:relative;
		top:initial;
		bottom:initial;
		left:initial;
		right:initial;
		font-size:6.23200rem;
		transform:none;
	}

	.workslist .workslist_content > * {
		margin-bottom:5.5vw;
	}
}